.root {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.app-name {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}

.has-gradient-text {
    background: -webkit-linear-gradient(#f06728, #aa275c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 8px 15px;

        .board-name {
            color: #fff !important;
            font-size: 20px;
            font-weight: bold;
        }
    }

}


