<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">DealSignal Trello Kanban</h1>
            </div>
        </div>
    </div>


    <div class="board">

        <div class="board-bar">
            <p class="board-name">
                Board Name
            </p>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns"

                    >
                    <div class="column-title">
                        {{ column.name }}
                    </div>

                    <div class="tasks-container"
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                            {{ item }}
                        </div>
                    </div>

                    <div class="add-task-container" *ngIf="column.isTextVisible">
                        <input class="input is-large mb-2" type="text" [name]="column.name" [(ngModel)] ="column.text" (keyup.enter)="addToColumn(column.name, column.text);column.isTextVisible=false; column.text = ''"  placeholder="Add task name">
                        <button class="button is-dark mr-2" (click)="addToColumn(column.name, column.text);column.isTextVisible=false;column.text = ''">Add task</button>
                        <button class="button is-light" (click)="column.isTextVisible = !column.isTextVisible">Cancel</button>
                    </div>

                    <div class="add-task" *ngIf="!column.isTextVisible" (click)="column.isTextVisible = !column.isTextVisible"> + Add another card</div>

                </div>

            </div>
        </div>

    </div>

</div>